<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <style>
    .parent {
      /* letter-spacing: -3px */
      /* word-spacing: 3px; */
      font-size: 0;
    }
    .box {
      display: inline-block;
      width: 100px;
      height: 100px;;
    }
    .box1 {
      background: #000;
      /* float: left; */
    }
    .box2 {
      background: #333;
      /* margin-left: -3px; */
    }
  </style>
  <div class="parent">
      <div class="box box1"></div>
      <div class="box box2"></div>
  </div>
</body>
</html>